<html>
  <head>
    <title>Student Report</title>
    <style>
      table,
      td,
      th {
        border: 1px double black;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 500px;
      }
    </style>
  </head>
  <body>
    <center>
      <h2 style="text-decoration: underline">Student Report</h2>
      <table>
        <tr>
          <td><strong>Name</strong></td>
          <td><%= student.name %></td>
        </tr>
        <tr>
          <td><strong>Roll Number</strong></td>
          <td><%= student.rollNumber %></td>
        </tr>
        <tr>
          <td><strong>Class</strong></td>
          <td>
            <%= student.year %> <%= student.branch %>-<%= student.section %>
          </td>
        </tr>
        <tr>
          <td><strong>Phone</strong></td>
          <td><%= student.phone %></td>
        </tr>
      </table>
      <h3 style="text-decoration: underline">Basic Report</h3>
      <table>
        <tbody>
          <tr>
            <td><strong>Total Events Participated</strong></td>
            <td><%= student.eventsParticipated.length %></td>
          </tr>
          <tr>
            <td><strong>Total Events Organized</strong></td>
            <td><%= student.eventsOrganized.length %></td>
          </tr>
          <tr>
            <td><strong>Total Forum Core Memberships</strong></td>
            <td><%= student.forumCoreTeamMemberships.length %></td>
          </tr>
          <tr>
            <td><strong>Total Forum Non-Core Memberships</strong></td>
            <td><%= student.forumNonCoreTeamMemberships.length %></td>
          </tr>
        </tbody>
      </table>
      <br />
      <hr style="width: 500px" />
      <h3 style="text-decoration: underline">Core Team Memberships</h3>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Forum Name</th>
            <th>Designation</th>
          </tr>
        </thead>
        <tbody>
          <% student.forumCoreTeamMemberships.map((membership, index)=>{ %>
          <tr>
            <td><%= index %></td>
            <td><%= membership.forumId.name %></td>
            <td><%= membership.designation %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <h3 style="text-decoration: underline">Non-Core Team Memberships</h3>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Forum Name</th>
          </tr>
        </thead>
        <tbody>
          <% student.forumNonCoreTeamMemberships.map((membership, index)=>{ %>
          <tr>
            <td><%= index %></td>
            <td><%= membership.name %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <h3 style="text-decoration: underline">Events Organized</h3>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Forum Name</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <% student.eventsOrganized.map((event, index)=>{ %>
          <tr>
            <td><%= index %></td>
            <td><%= event.forumID.name %></td>
            <td><%= event.name %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <h3 style="text-decoration: underline">Events Particpated</h3>
      <table>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Forum Name</th>
            <th>Event</th>
          </tr>
        </thead>
        <tbody>
          <% student.eventsParticipated.map((event, index)=>{ %>
          <tr>
            <td><%= index %></td>
            <td><%= event.forumID.name %></td>
            <td><%= event.name %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </center>
  </body>
</html>
